4_analyses/topics
scratchpad.ipynb
quotes_per_year.pkl



cc_stance/BERT/bert_preds/ 
cc_stance/data_creation/data/vax_labeled_data_df.pkl
../framing-twitter

Analyses/topics/
./cc_stance/data/mturk_french_backtranslations.tsv
cc_stance/data/mturk_zh_backtranslations.tsv
cc_stance/my_BERT
framing-twitter
./cc_stance/data_creation/scripts/save/

cc_stance/BERT/
cc_stance/LM_data/

__pycache__/
cc_stance/data_creation/scripts/save/small/
all.cc.fulltexts.test.raw
all.cc.fulltexts.train.raw
temp_combined_df.pkl
temp_combined_df_with_fulltext.pkl
filtered_all_url_df.pkl
scratchpad.ipynb
data_processing/all_quotes.pkl
data_processing/extracted_quotes/
data_processing/filtered_quotes.pkl
data_scraping/fulltexts/
cc_stance/data_creation/scripts/save/


.ipynb_checkpoints
