1_data_scraping/thenation_title_gueeses.pkl
1_scraping/scrape_fulltext.py


3_cc_stance
1_data_scraping/0_get_urls_and_scraping_scratch.ipynb
1_data_scraping/cc_texts/
1_data_scraping/combined_df_missing.pkl
1_data_scraping/temp_combined_cc_df_with_fulltext.pkl
1_data_scraping/temp_known_combined_df.pkl
1_data_scraping/url_meta/
1_data_scraping/leaning_needed.csv
1_data_scraping/1_scraping_main.ipynb
1_data_scraping/mediacloud_collections/
1_data_scraping/guessed_titles.pkl
1_data_scraping/temp_combined_df_with_ft.pkl
1_data_scraping/temp_combined_df_with_ft_date.pkl

1_data_scraping/cc_fulltexts
1_data_scraping/dedup_combined_df.pkl
1_data_scraping/filtered_all_url_df.pkl
1_data_scraping/fulltexts
1_data_scraping/google_search_res_climate_change.pkl
1_data_scraping/google_search_res_covid.pkl
1_data_scraping/mediacloud
1_data_scraping/mediacloud_covid_df.pkl
1_data_scraping/mediacloud_df.pkl
1_data_scraping/new_anti_google_search_res_climate_change.pkl
1_data_scraping/new_urls_without_ft.pkl
1_data_scraping/R_google_search_res_climate_change.pkl
1_data_scraping/reid_urls.pkl
1_data_scraping/temp
1_data_scraping/temp_combined_covid_df_with_fulltext.pkl
1_data_scraping/temp_combined_df_title_reg.pkl
1_data_scraping/temp_combined_df_with_fulltext.pkl
1_data_scraping/temp_combined_df.pkl
1_data_scraping/temp_vax_blog_urls.pkl


4_analyses/topics
scratchpad.ipynb
quotes_per_year.pkl



cc_stance/BERT/bert_preds/ 
cc_stance/data_creation/data/vax_labeled_data_df.pkl
../framing-twitter

Analyses/topics/
./cc_stance/data/mturk_french_backtranslations.tsv
cc_stance/data/mturk_zh_backtranslations.tsv
cc_stance/my_BERT
framing-twitter
./cc_stance/data_creation/scripts/save/

cc_stance/BERT/
cc_stance/LM_data/

__pycache__/
cc_stance/data_creation/scripts/save/small/
all.cc.fulltexts.test.raw
all.cc.fulltexts.train.raw
temp_combined_df.pkl
temp_combined_df_with_fulltext.pkl
filtered_all_url_df.pkl
scratchpad.ipynb
data_processing/all_quotes.pkl
data_processing/extracted_quotes/
data_processing/filtered_quotes.pkl
data_scraping/fulltexts/
cc_stance/data_creation/scripts/save/


.ipynb_checkpoints
