{
"target":{
"worry": "People should worry about climate change.",
"solve": "Climate change is an important problem to be solved.",
"issue": "Climate change is an important issue."
},
"demographics":{

},
"helptext":{
"short": "",
"long": "This could be because of any of reasons shown below:\
– the sentence is explicitly in support for the target\
– the sentence is in support of something/someone aligned\
with the target, from which we can infer that the\
writer supports the target\
– the sentence is against something/someone other than the\
target, from which we can infer that the writer supports the target\
– the sentence is NOT in support of or against anything, but\
it has some information, from which we can infer that\
the writer supports the target\
– we cannot infer the writer’s stance toward the target, but the sentence is echoing somebody else’s favorable\
stance towards the target (this could be a news story,\
quote, retweet, etc)"
},
"numtrials":{

},
"instruction_set":{},
"posttest":{}
}
